# Build ingestion pipelines with our python libary

In [1]:
from waipawama.jtl_invoice import JtlInvoice, JtlMeta

In [2]:
# feature rich object for preparing and data ingestion.
meta = JtlMeta(timespan='2020-01')
# Don't instantiate our DataModel
model = JtlInvoice

In [5]:
meta.read_parquet()

,DatumRechnung,ExterneId,Rechnungsnummer,BetragBrutto,Steuerschluessel2,Unnamed: 5,Timespan,TimeInsert
0,2020-01-01,0JF35591M1431535E,2020130596,5.00,3,NaN,2020-01,2020-12-31 18:37:33.994891+00:00
1,2020-01-01,None,2020130597,4.91,3,NaN,2020-01,2020-12-31 18:37:33.994891+00:00
2,2020-01-01,4KL79324A75166037,2020130598,14.90,3,NaN,2020-01,2020-12-31 18:37:33.994891+00:00
3,2020-01-01,4M097529EY430322A,2020130599,3.99,14,NaN,2020-01,2020-12-31 18:37:33.994891+00:00
4,2020-01-01,4TX17519V1390381C,2020130600,3.91,3,NaN,2020-01,2020-12-31 18:37:33.994891+00:00
...,...,...,...,...,...,...,...,...
1156,2020-01-31,None,2020131752,9.91,3,NaN,2020-01,2020-12-31 18:37:33.994891+00:00
1157,2020-01-31,None,2020131753,7.99,3,NaN,2020-01,2020-12-31 18:37:33.994891+00:00
1158,2020-01-31,None,2020131754,13.99,3,NaN,2020-01,2020-12-31 18:37:33.994891+00:00
1159,2020-01-31,None,2020131755,4.99,3,NaN,2020-01,2020-12-31 18:37:33.994891+00:00
1160,2020-01-31,None,2020131756,9.99,10,NaN,2020-01,2020-12-31 18:37:33.994891+00:00

In [8]:
meta.save_as_parquet()
meta.append_data()